[core]
	excludesfile = /Users/feliperodrigues/.gitignore_global
	editor = subl -w
[user]
	email = feliperodrigues@gmail.com
	name = Felipe Rodrigues
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[color]
	ui = true
[merge]
	tool = opendiff
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[pull]
	rebase = true
[push]
  default = upstream
